body{
    background: #0045c3 !important;
    font-family: 'Montserrat', sans-serif !important;;
}

header{
    text-align: center;
    padding: 3em 0;
}

/* STEP ONE */

.step-one .title{
    font-size: 18px;
}

.step-one .title, .subtitle{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.step-one .subtitle{
    font-size: 16px;
}

img.img-vendedor{
    position: absolute;
    top: 15em;
    z-index: -4;
    width: 352px;
    margin-left: 5em;
}

.quero-loja{
    width: 50%;
    float: right;
    margin-right: 16em;
    margin-top: 4em;
}

.quero-loja .plataformas{
    color: #fff;
    font-size: 16px;
}

.btn-quero-loja{
    background-color: #00a958;
    border: none;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: -2em;
    left: 6%;
}

.btn-quero-loja:hover{
    background-color: #044400;
}

button.btn-next:hover{
    background-color: #044400;
}

/* FIM */

/* STEP TWO */

.step-two{
    margin-top: 4em;
}

.step-two .title{
    font-size: 30px;
    width: 800px;
    margin: 0 auto;
}

.step-two .title, .subtitle{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

/* FIM */

/* STEP THREE */

.step-three .title{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* FIM */

.btn-next{
    background-color: #00a958;
    border: none;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 2em;
    margin-top: 0em;
}

i.fa.fa-angle-right{
    margin-left: 5px;
}

#email{
    color: #00a958;
    font-weight: bold;
    margin-top: 2em;
    padding: 2vh 6vh;
    width: 800px;
    border-radius: 5px;
    border: none;
    text-transform: lowercase;
}

#success {
    color: green;
    display: none;
    margin-left: 25em;
    margin-top: -50px;
    margin-bottom: 50px;
}
#error {
    color: red;
    display: none;
    margin-left: 25em;
    margin-top: -50px;
    margin-bottom: 50px;
}
#warning {
    color: orange;
    display: none;
    margin-left: 25em;
    margin-top: -50px;
    margin-bottom: 50px;
}
span#span1 {
    font-size: 13px;
    margin-left: 45px;
    margin-top: -92px;
    color: #fff;
    font-weight: bold;
    display: none;
}
span#span2 {
    font-size: 13px;
    position: absolute;
    color: #fff;
    font-weight: bold;
    display: none;
    margin-top: -90px;
    margin-left: 23em;
}

.previous, .previous:hover{
    float: left;
    margin-top: 3em;
    margin-left: 5em;
    color: #000;
    font-size: 20px;
    left: 6em;
    position: relative;
}

.bg{
    background-color: #00000038;
}

.radio-item{
    padding: 15px;
}

.radio-item:hover{
    background-color: #00000038;
    border-radius: 10px;
    padding: 15px;
}

.radio-item img{
    display: block;
    margin: 0 auto;
    width: 150px;
}

.radio-item label{
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.radio-item p{
    color: #fff;
    text-align: center;
}

#f1_container {
    position: relative;
    margin: 10px auto;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}
#f1_container:hover #f1_card {
    transform: rotateY(180deg);
}
.face {
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: -16em;
    height: 207px;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
 
.option-input:checked {
    background: #40e0d0;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
    position: relative;
    top: -25px;
    left: -10px;
}
.option-input.radio::after {
    border-radius: 50%;
    position: relative;
    top: -25px;
    left: -10px;
}


